<html>
  <head>
    <link rel = "stylesheet" href = "../Assets/Styles/landingPage.css">

  <head>
  <body>
    <div id = "wrapper">
    <h1>Weather Getter</h1>
    <form id = 'hi'>
      <p>View the Current Weather in Your Area</p>
      <input type = "text" placeholder = "ZIP CODE" id = "zipcode" >
      <br>
      <button class = "button">Check Weather</button>
    <form>
     </div>
  <body>
    <script src = "../node_modules/jquery/dist/jquery.js"></script>
    <script src = "../Scripts/getZIP.js"></script>
</html>
