<html>
  <head>
    <link rel = "stylesheet" href = "../Assets/Styles/landingPage.css">
  <head>
  <body>
    <div id = "wrapper">
    <h1>Weather Getter</h1>
    <form>
      <p>View the Current Weather in Your Area</p>
      <input type = "text" placeholder = "ZIP CODE" name = "zipcode">
      <br>
      <button class = "button" type = "submit">Check Weather</button>
    <form>
     </div>
  <body>
</html>
